<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar Estudio</title>
</head>
<body>
    {% include 'nav_bar.html' %}
    <form method="post" onsubmit="return CargarMensaje();">
        {% csrf_token %}
        <div class="container">
            <h4>Agregar Estudio</h4>
            <hr/>
            <text >{{form.as_p}}</text>
            <hr/>
            <input class="lead" type = "submit" value="Agregar"/>
            <a class="lead" href="{% url 'home' %}">Volver</a>
        </div>

    </form>
</body>
</html>


<script type="text/javascript" >
    function CargarMensaje(){
        alert("Se ha creado el registro correctamente");
    }
</script>


